.DS_Store
out/
*.class

select r.id, s.recipe as step_fk, i.recipe as ing_fk, r.title, a.first_name, a.last_name, group_concat(distinct s.step_text order by s.step_order asc SEPARATOR '|') as steps, group_concat(distinct i.ingredient_text SEPARATOR '|') as ingredients
from recipes as r inner join
authors as a on r.author_fk = a.id
left join ingredients as i on r.id = i.recipe
right join steps as s on s.recipe = r.id
where title like '%chicken%'
group by r.id;

select r.id, s.recipe as step_fk, i.recipe as ing_fk, group_concat( distinct r.title), a.first_name, a.last_name, s.step_text, i.ingredient_text
from recipes as r inner join
authors as a on r.author_fk = a.id
left join ingredients as i on r.id = i.recipe
right join steps as s on s.recipe = r.id
where title like '%hot%';"C:\Users\kvansylyvong\IdeaProjects\recipes\src\DBOps.java" 
"C:\Users\kvansylyvong\IdeaProjects\recipes\src\DBOps.java" 
